button{
    float: left;
}
ul{
    list-style: none;
}
#filter li{
    float:left;
    margin-left: 30px;
    
}
#map{
    position: relative;
}
#filter{
    position: absolute;
    
}

#selectedStore{
    position:absolute;
    background-color: white;
    /* align-self: center; */
    left: 100px;
    top: 500px
}
.hidden{
    display:none;
}
#selectedStore{
    border-radius: 20%;
    width: 300px
}
#selectedStoreText{
    display:inline-block;
}
#selectedStoreImg{
    float:left;
}
#searchWrap{
    position:absolute;
}
