#outer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:0 auto;
}
#HelpImg{
    text-align: center;
}
#HelpBtn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin : auto;
}
#greedydiv{
    height: 50%;
}
#imgs{
    width: 80%;
    height: 100%;
    justify-content: center;
    margin: auto;
}
#helpingtext{
    text-align: center;
    white-space: pre-wrap;
    padding: 20px;
}
