section {
  box-sizing: border-box;

  /* position: absolute; */
  /* width: 341px;
  height: 81px;
  left: 24px;
  top: 86px; */

  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  order: 1;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

span {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

#title {
  align-items: baseline;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

#pic {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px 15px 15px 15px; */
  padding: 20px;
  margin: 30px;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: transparent;
}

#newpic {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 50px 100px 50px;
  color: #8861c2;
  font-size: 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: transparent;
}

#btn {
  display: flex;
  padding: 10px;
  border: 0px solid #e2e2e2;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
}

.del {
  padding-right: 30px;
}
