.kakaoModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.kakaoModal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.kakaoModal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: kakaoModal-show 0.3s;
  overflow: hidden;
}
.kakaoModal > section > header {
  position: relative;
  padding: 10px 64px 10px 16px;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.kakaoModal > section > header button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 800;
  text-align: center;
  color: #8861c2;
  background-color: transparent;
}
.kakaoModal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.kakaoModal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.save {
  padding: 6px 12px;
  color: #fff;
  background-color: #8861c2;
  border-radius: 5px;
  font-size: 13px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.kakaoModal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: kakaoModal-bg-show 0.3s;
}
@keyframes kakaoModal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes kakaoModal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
