#overmap {

    position:relat;
    z-index: 2;
}
#undermap{
    position:absolute;
    z-index: 10000;
}
.hi{
    color:red;
    background-color: aqua;
}

span {
    padding: none;
}
.SearchBar{
    height: 40px;
    width: 100%;
    /* border: 1px solid rgb(44, 174, 44); */
    border: none;
    /* background: #ffffff; */
    z-index: 5000;
    position: relative;
    
    
}
.SearchInput{
    font-size:20px;
    width: 90%;
    /* padding: 10px; */
    border: 0px;
    outline: none;
    float: left;
    z-index: 5000;
    padding-top: 3px;
    background-color: transparent;
}
.SearchButton{
    width: 9%;
    border: none;
    /* background: rgb(44, 174, 44); */
    outline: none;
    float: right;
    color:#ffffff;
    z-index:5000;
    position:relative;
    background-color: transparent;
    float:right;
    font-size: 1.3rem;
}

.SearchInfo {
  position: absolute;
  z-index: 50000;
}
/* .StoreBigBox {
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
} */



.StoreLeftBox{
    float: left;
    width: 60%;
    /* padding-top: 30px; */
    display: block;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    margin: auto;
    /* padding: 40px; */
}
.StoreRightBox {
    float:right;
    width:30%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}


#StoreList{
    font-size: 15px;
    list-style: none;
    padding-left: 0px;
    text-align: left;
}


#z_index {
  z-index: 100000;
  position: absolute;
  width: 200px;
  width: 300px;
}

.btns {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  /* z-index: 6000; */
  top: -78%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.like-btn,
.brand-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 500;
  height: 30px;
  width: 80px;
  font-size: 13px;
}

.map-navbar {
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
}

.new-box {
  position: absolute;
  z-index: 5000;
  top: 87%;
  left: 84%;
  right: 0;
  bottom: 0;
  margin: auto;
  margin: auto;
}

.new-btn {
  border: none;
  box-shadow: 1px 1px 5px 1px rgba(0.15, 0.15, 0.15, 0.15);
  border-radius: 30px;
  background: #ffffff;
  font-size: 1.5rem;
  color: #8861c2;
}




.StoreContainer {
    border:1px solid D8D8D8;
    border-radius: 10px;
    /* padding: 20px; */
    /* margin: 20px; */
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.15);
    position: absolute;
    z-index:5000;
    top: 60%;
    left: 0%;
    right: 0;
    bottom: 0;
    height:26%;
    width: 340px;
    display: block;
    padding:10px;
    align-items: center;
    margin: auto;
    grid-template-columns: 4fr 1fr;

}

.StoreBorder {
    border:none;
    background-color: transparent;
    grid-template-columns: 4fr 1fr;
    display: flex;
}
.leftbox{
    display: block;
    padding: 10px;
    text-align: start;
    justify-content: center;
}

.StoreCompany {
    font-size: 20px;
    font-weight: bold;
}

.StoreName {
    font-size: 15px;
    color: gray;
}

.rightbox {
    padding: 10px;
    margin:  auto;
    display:flex;
}

#StoreImg{
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;

    
}



