/*.SearchBar {
  height: 40px;
  width: 400px;
   border: 1px solid rgb(44, 174, 44);
  background: #ffffff; 
  z-index: 5000;
  position: relative; 
}*/

.SearchInput {
  font-size: 18px;
  color: rgb(63, 63, 63);
  width: 90%;
  /* padding: 10px; */
  border: 0px;
  outline: none;
  /* float: left; */
  z-index: 5000;
  padding-top: 3px;
  background-color: transparent;
  text-align: start;
}

.SearchOutput {
  background-color: #ffffff;
  color: black;
  text-align: start;
  width: 400px;
}

.output-border {
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 10px;
}

.Search-btn {
  text-decoration: none;
  color: black;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
